.ofxWebUI_slider_wrapper {
	padding: 5px 10px;
}

.ofxWebUI_slider {
	margin: 0 15px;
	padding: 0;
	width: 360px;
	display:
	inline-block;
}

.ofxWebUI_slider_label {
	display: inline-block;
	width: 60px;
}

.ofxWebUI_slider_label span {
	vertical-align: baseline;
	height: 100%;
}

.ofxWebUI_slider_value {
	display: inline-block;
	width: 40px;
}

.ofxWebUI_slider_value span {
	vertical-align:
	baseline; height: 100%;
}