.right {
	float: right;
}

.ofxWebUI_wrapper  {
	clear: both;
	width : 560px;
}

.ofxWebUI_label {
	display: inline-block;
	width: 80px;
	height: 25px;
	font-size: 80%;
}

/* slider */
.ofxWebUI_slider_wrapper {
	padding: 5px 10px;
}

.ofxWebUI_slider {
	margin: 0 15px;
	padding: 0;
	width: 360px;
	display: inline-block;
}

/* select box */

.ofxWebUI_select_box_wrapper {
	padding: 5px 10px;
}

.ofxWebUI_select_box {
	margin: 0 15px;
	padding: 0;
	width: 360px;
	display: inline-block;
}